### python basics

* How to check python version
* Comments in python
* Datatypes
* Variable
* Operators

In [8]:
# How to check your python version

import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'

In [9]:
# comments in python 


# Single line comment
""" Multiline comments """

' Multiline comments '

### Data Types

* int
* float
* string
* boolean
* complex

In [10]:
a=241630 # int
print(a)
print(type(a)) # to know the type of a variable
b=97.890 #float
print(b,type(b))
c="p" #char
print(c,type(c))
d="Data analysis" #string
print(d,type(d)) 
e=False #boolean
print(e,type(e))
f=46+190j #complex
print(f,type(f))

241630
<class 'int'>
97.89 <class 'float'>
p <class 'str'>
Data analysis <class 'str'>
False <class 'bool'>
(46+190j) <class 'complex'>

In [11]:
#type casting ( coverting one datatype to another)

a="1630"
print(type(a))
b=int(a)
print(b,type(b))

<class 'str'>
1630 <class 'int'>

# operators

* Arithmetic operators(+,-,/,//,*,%)

In [12]:
a=9
b=90
print(a//b) #integer division(removes the decimal points)
print(a*b)
print(a+b)
print(a/b)
print(a-b)
print(a%b)
print(a**b)

0
810
99
0.1
-81
9
76177348045866392339289727720615561750424801402395196724001565744957137343033038019601

In [13]:
## Assignment operators(=,+=,-=,/=,%=,*=,**=,//=)

a=70
print(a)
a+=18
print(a)
a-=4
print(a)
a*=23
print(a)

70
88
84
1932

In [14]:
## Comparision operators(>,<,==,>=,<=,!=)

a=94
b=45
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
True
True
False